DEBUG=True
SECRET_KEY=change-me-for-local-development
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0
DB_ENGINE=postgres
POSTGRES_DB=reservas_db
POSTGRES_USER=reservas_user
POSTGRES_PASSWORD=reservas_password
POSTGRES_HOST=db
POSTGRES_PORT=5432
